@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
            <i class="fas fa-user-circle me-1"></i> @User.Identity?.Name
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Profilim</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item">Çıkış Yap</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <a class="btn btn-purple" asp-controller="Account" asp-action="Login">Giriş Yap</a>
    <a class="btn btn-purple" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
}